.nav-bar{
    display: flex;
}
.nav-ul{
    display:flex;
    
}
.nav-ul > li{
    list-style-type: none;
    padding: 5px;
      
}

.header{
    margin-right: auto;
    color: #C69749;
    font-family: 'Fraunces', serif;
    
 } 
.nav-ul > li > a{
    text-decoration: none;
    color: white;
}
hr{
    color: #735F32;
}