.nav-ul{
    display:flex;
    
}
.nav-ul > li{
    list-style-type: none;
    padding: 5px;
      
}

#header{
    margin-right: auto;
    display: flex;
 } 
.nav-ul > li > a{
    text-decoration: none;
}